<% if @name.nil? %>
<form action="/named-cat">
<ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </li>
</ul>
</form>
<% end %>
<h1>My name is <%= @name %></h1>
<div style='border: 10px solid blue'>
<img src='https://i.imgur.com/jFaSxym.png'>
</div>